<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkt.blogboot.mapper.ArticleCategoryMapper">
  <resultMap id="BaseResultMap" type="com.dkt.blogboot.entity.ArticleCategory">
    <!--@Table article_category-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="aid" jdbcType="INTEGER" property="aid" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, aid, cid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from article_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.dkt.blogboot.entity.ArticleCategory" useGeneratedKeys="true">
    insert into article_category (aid, cid)
    values (#{aid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.dkt.blogboot.entity.ArticleCategory" useGeneratedKeys="true">
    insert into article_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        aid,
      </if>
      <if test="cid != null">
        cid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dkt.blogboot.entity.ArticleCategory">
    update article_category
    <set>
      <if test="aid != null">
        aid = #{aid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dkt.blogboot.entity.ArticleCategory">
    update article_category
    set aid = #{aid,jdbcType=INTEGER},
      cid = #{cid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-07-05-->
  <delete id="deleteByAid">
    delete from article_category
    where aid=#{aid,jdbcType=INTEGER}
  </delete>

<!--auto generated by MybatisCodeHelper on 2021-07-05-->
  <select id="selectByCid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from article_category
    where cid=#{cid,jdbcType=INTEGER}
  </select>
</mapper>