<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkt.blogboot.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.dkt.blogboot.entity.Article">
    <!--@Table article-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="view" jdbcType="INTEGER" property="view" />
    <result column="praise" jdbcType="INTEGER" property="praise" />
  </resultMap>
  <resultMap id="ArticleQueryRespMap" type="com.dkt.blogboot.resp.ArticleQueryResp">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="view" jdbcType="INTEGER" property="view" />
    <result column="praise" jdbcType="INTEGER" property="praise" />
    <association property="category" javaType="com.dkt.blogboot.entity.Category">
      <id column="cid" property="id"/>
      <result column="category" property="category"/>
    </association>
    <collection property="tags" ofType="com.dkt.blogboot.entity.Tag">
      <id column="tid" property="id"/>
      <result column="tag" property="tag"/>
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    id, title, content, `date`, `view`, praise
  </sql>
  <sql id="ArticleQueryResp_Column_List">
    a.*,t.id tid,t.tag tag,c.id cid,c.category category
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.dkt.blogboot.entity.Article" useGeneratedKeys="true">
    insert into article (title, content, `date`, `view`, praise
      )
    values (#{title,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}, #{date,jdbcType=TIMESTAMP}, #{view,jdbcType=INTEGER}, #{praise,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.dkt.blogboot.entity.Article" useGeneratedKeys="true">
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="view != null">
        `view`,
      </if>
      <if test="praise != null">
        praise,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="view != null">
        #{view,jdbcType=INTEGER},
      </if>
      <if test="praise != null">
        #{praise,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dkt.blogboot.entity.Article">
    update article
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="date != null">
        `date` = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="view != null">
        `view` = #{view,jdbcType=INTEGER},
      </if>
      <if test="praise != null">
        praise = #{praise,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dkt.blogboot.entity.Article">
    update article
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      `date` = #{date,jdbcType=TIMESTAMP},
      `view` = #{view,jdbcType=INTEGER},
      praise = #{praise,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-07-04-->
  <select id="select" resultMap="ArticleQueryRespMap">
    SELECT
    <include refid="ArticleQueryResp_Column_List"/>
    FROM (SELECT * FROM article ORDER BY article.id DESC LIMIT #{offset,jdbcType=INTEGER}, #{size,jdbcType=INTEGER}) a LEFT JOIN article_category ac ON ac.aid=a.id LEFT JOIN category c ON c.id=ac.cid LEFT JOIN article_tag `at` ON `at`.aid=a.id LEFT JOIN tag t ON t.id=`at`.tid ORDER BY a.id DESC
  </select>

<!--auto generated by MybatisCodeHelper on 2021-07-04-->
  <select id="count" resultType="java.lang.Integer">
    select count(1)
    from article
  </select>

<!--auto generated by MybatisCodeHelper on 2021-07-05-->
  <select id="selectOneById" resultMap="ArticleQueryRespMap">
    SELECT
    <include refid="ArticleQueryResp_Column_List"/>
    FROM (SELECT * FROM article WHERE id=#{id,jdbcType=INTEGER}) a LEFT JOIN article_category ac ON ac.aid=a.id LEFT JOIN category c ON c.id=ac.cid LEFT JOIN article_tag `at` ON `at`.aid=a.id LEFT JOIN tag t ON t.id=`at`.tid
  </select>

  <select id="selectAllByCategoryId" resultMap="BaseResultMap">
    SELECT a.* FROM article a, article_category ac WHERE a.id=ac.aid AND ac.cid=#{id,jdbcType=INTEGER} ORDER BY a.date DESC
  </select>

  <select id="selectAllByTagId" resultMap="BaseResultMap">
    SELECT a.* FROM article a, article_tag `at` WHERE a.id=`at`.aid AND `at`.tid=#{id,jdbcType=INTEGER} ORDER BY a.date DESC
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    SELECT * FROM article ORDER BY date DESC
  </select>

  <select id="selectByTitle" resultMap="ArticleQueryRespMap">
    SELECT
    <include refid="ArticleQueryResp_Column_List"/>
    FROM (SELECT * FROM article WHERE title LIKE CONCAT('%',#{title,jdbcType=VARCHAR},'%') ORDER BY id DESC LIMIT #{offset,jdbcType=INTEGER},#{size,jdbcType=INTEGER}) a LEFT JOIN article_category ac ON ac.aid=a.id LEFT JOIN category c ON c.id=ac.cid LEFT JOIN article_tag `at` ON `at`.aid=a.id LEFT JOIN tag t ON t.id=`at`.tid ORDER BY a.id DESC
  </select>

<!--auto generated by MybatisCodeHelper on 2021-07-05-->
  <select id="countByTitleLike" resultType="java.lang.Integer">
    select count(1)
    from article
    where title like concat('%',#{likeTitle,jdbcType=VARCHAR},'%')
  </select>
</mapper>